
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}

/* NAVBAR */
.navbar-toggler {
    padding: 0;
    border: none;
    background: none;
}
/* END NAVBAR */


/* START MAIN BLOG SECTION  */
.blog_list {
    margin-top: 2rem;
}
.rounded-top-left-1 {
    border-top-left-radius: 0.3rem;
}
/* END MAIN BLOG SECTION */



