

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.25rem;
}

/* NAVBAR */
.navbar-toggler {
    padding: 0;
    border: none;
    background: none;
}

/* Add custom styling for the logout button */
.navbar-btn {
    color: rgb(255, 255, 255, 0.55); /* Text color */
    text-decoration: none; /* Remove underline */
    margin-left: 10px; /* Add margin for spacing */
}

.navbar-btn:hover {
    color: rgb(255, 255, 255, 0.75); /* Change text color on hover */
    text-decoration: none; /* Remove underline on hover */
}


/* END NAVBAR */


/* MAIN BLOG SECTION  */
.main-content {
    margin-top: 1rem;
}
.rounded-top-left-1 {
    border-top-left-radius: 0.3rem;
}
/* END MAIN BLOG SECTION */


/* REGISTER PAGE */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.form-group {
    margin-bottom: 1rem;
}
/* END REGISTER PAGE */


/* POST DETAILS – ALL BLOGS */
.post-title h1 {
    font-size: 8.2rem;
}

/* END POST DETAILS – ALL BLOGS */