

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.25rem;
}

/* NAVBAR */
.navbar-toggler {
    padding: 0;
    border: none;
    background: none;
}


/* END NAVBAR */


/* MAIN BLOG SECTION  */
.main-content {
    margin-top: 1rem;
}
.rounded-top-left-1 {
    border-top-left-radius: 0.3rem;
}
/* END MAIN BLOG SECTION */


/* REGISTER PAGE */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.form-group {
    margin-bottom: 1rem;
}
/* END REGISTER PAGE */


/* POST DETAILS – ALL BLOGS */
.post-title h1 {
    font-size: 8.2rem;
}

/* END POST DETAILS – ALL BLOGS */