
{% extends 'blog/base.html' %}
{% block content %}

<section class="text-center container">
    <h1 class="text-start">My Journey</h1>
    <p class="text-start">
        My coding journey began in 2019 with Python. I was first introduced to Python and I was instantly hooked on learning more about programming. When I discovered you could make websites with Python, I learned Django. To refine my front-end skills, I dove into HTML, CSS, and JavaScript. Since then, my interest has steadily grown, fueling my desire to pursue a career in web development.
    </p>

    <p class="text-start">
        Although I'm new to the professional web development field, I've gained valuable experience by taking on a variety of projects during the past year. I've used my knowledge of Python and Django to build the back-end logic for this blog. For the front-end development, I leveraged my skills in Javascript, HTML, and CSS to create user-friendly interfaces that are both visually appealing and responsive across different devices for a variety of projects. Bootstrap has also been a valuable tool in my development toolbox, allowing me to quickly create consistent and mobile-friendly layouts.
    </p>
</section>

{% endblock content %}