{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-3 main-content" style="max-width: 1040px;">
            <div class="row g-0">
                <div class="col-lg-4">
                    <img src="{{ post.image.url }}" class="img-fluid rounded-top-left-1" alt="...">
                </div>
            <div class="col-lg-8">
                <div class="card-body">
                <h2 class="card-title"><a href="{% url 'post-detail' title=post.title|slugify %}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.content|truncatechars_html:150 }}</p>
                <p class="card-text">
                    <small class="text-body-secondary">{{ post.author }} | {{ post.date_posted }}</small>
                </p>
                <p class="card-text">
                    <small class="text-body-secondary"><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small>
                </p>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}