
{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <img src="{{ post.image.url }}" class="" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ post.author }}</li>
            <li class="list-group-item">{{ post.date_posted }}</li>

            </ul>
            <!-- <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div> -->
        </div>
    {% endfor %}
{% endblock content %}